<h1>Search links:</h1>
 <div class="btn-group pull-right">
  <%= link_to "Back to home", root_path, :class => "btn" %>
</div>
<div id="form-search">
  <div class="form-group">
    <form action="<%= search_links_path %>" method="get">
      <input type="text" name="q" class="form-control" id="search_input" placeholder="Enter query to search" value="">
      <button class="btn btn-primary btn-lg btn-block">Search</button>
    </form>
  </div>
</div>

<% if @links.empty? %>
  No results
<% else %>
  <ul>
    <% @links.each do |link| %>
      <li>
        <%= link.id %>
        <%= link_to link.url, link.url, class: "link" %> |
        <%= link_to 'Show', link_path(link.id) %>
       <div class= "description">
        Title: <%= link.title %> <br/>
        Tags: <%= link.tag_list  %>
       </div>
      </li>
    <% end %>
  </ul>
<% end %>
