<% provide(:title, "Aligator #{@user.email}") %>

<h1><%= @user.email %> </h1>

<ol>
  <% @user.links.each do |link| %>
  <div class = "link_list">
    <li>
      <span class="content">
      <%= link_to link.title , link.url_with_scheme %>
      <%= link_to link.decorate.host, link.decorate.host_with_scheme%>
      comments(<%= link.comments.count %>)
      <%= link.decorate.show_tags %>
       <%=link.number_of_likes%> <i class="fa fa-thumbs-o-up"></i>s
      | <%= link_to 'Show',"#{links_path()}/#{link.id}" %>
      </span>
      <span class="timestamp">
      Added: <%= link.decorate.created_at_status_detailed %>
      </span>
    </li>
  </div>
  <% end %>
</ol>
<br>

<%= link_to 'Back', root_path %>