<% provide(:title, "Edit") %>
<h1>Editing link</h1>

<%= simple_form_for @link do |f| %>
  <%= render 'shared/error_form', object: f.object %>
  <%= f.input :url, label: 'Type your link url:' %>
  <%= f.input :tag_list, label: 'Type tags' %>
  <%= f.input :title, label: 'Type title:' %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Show', @link %> |
<%= link_to 'Back', root_path %>