<div ng-controller="LinksController">
  <div ng-if= "linkUpdated">
    <div class="alert alert-success" >
      <button type="button" class="close" data-dismiss="alert"> &times;</button>
      Link was successfuly added!
    </div>
  </div>

  <%= link_to links_path(:rss) do %>
    <i class="fa fa-rss fa-2x"></i>
  <% end %>

  <h1><%= link_to "Aligator", root_path %></h1>
  <div id="left_content">
  <form ng-submit="createLink()">
    <fieldset>
      <div class="control-group" ng-class="{ 'error': errors }" >
        <div class="controls">
          <div class="input-append">
            <input id="linkInput" type="text" ng-model='model' autocomplete placeholder="Enter link data">
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </div>
        <div ng-if= "errors">
          <p class="help-block error" > {{errors}} </p>
        </div>
      </div>

      <h5>Add link by typing url #hash and 'title' in either order like: #tag1
        http://www.page.com #tag2 #tag3 'Title of this page' </h5>
    </fieldset>
  </form>
  <div class="tagged_with">
    <%= @searched_by %>
  </div>
  <ul>
    <% if @searched_by.present? %>
      <% @links.each do |link| %>
        <li class="li-without-decoration">
          <%= link.id %>
          <%= link_to link.title, link.url_with_scheme %>
          (<%= link_to link.host, link.host_with_scheme %>)
          | <%= link_to 'Show', link_path(link.id) %>
        <div class = "description">
          <% link.tag_list.each do |tag| %>
            <div class="ng-scope">
              <%= link_to "##{tag}", links_path(tag: tag) %>
              <a class="fa fa-rss fa-1x" ng-href ="links.rss?tagged_with=<%= tag %>"></a>
            </div>
          <% end %>
          <div class="added_by">
            Added by <%= link.show_link_owner %>, <%= link.created_at_status %> ago.
          </div>
          Liked by <%= link.number_of_likes %> ppl <i class="fa fa-thumbs-o-up"></i>s
        </div>
      </li>
    <% end %>
  <% else %>
    <li ng-repeat="link in links">
      {{link.id}}.
      <a ng-href ="{{link.urlWithScheme}}">{{link.title}}</a>
      (<a ng-href ="{{link.hostWithScheme}}">{{link.host}}</a>)
      | <%= link_to 'Show',"#{links_path()}/{{link.id}}" %>
    <div class = "description">
      <div ng-repeat="tag in link.tagList">
        <%= link_to "{{tag}}","#{links_path()}/?tag={{tag}}" %>
        <a class="fa fa-rss fa-1x" ng-href ="links.rss?tagged_with={{tag}}"></a>
      </div>
      <div class="added_by" ng-hide="link.addedBy ==='Guest'">
        Added by <%= link_to '{{link.addedBy}}',"#{links_path()}/?user={{link.addedBy}}"%>, {{link.createdAtStatus}} ago.
      </div>
      <div class="added_by" ng-show="link.addedBy ==='Guest'">
        Added by Guest, {{link.createdAtStatus}} ago.
      </div>
      Liked by {{link.numberOfLikes}} ppl <i class="fa fa-thumbs-o-up"></i>s
    </div>
  </li>
<% end %>
</ul>
  </div>
  <% if signed_in? %>
  <div id ="right_content">
    <% @activities.each do |activity| %>
      <div class="activity">
        <%= activity.decorate.display_activity_owner %>
        <%= render_activity activity %>
      </div>
    <% end %>
  </div>
<% end%>
</div>
