<% provide(:title, "Aligator -> #{@link.title}") %>

<script>
  window.Id = <%= @link.id %>
</script>
<h3><%= @link.title %></h3><h4><%= @link.link_to_host %></h4>
<p>
  <%= link_to @link.url, @link.url_with_scheme ,class: "link" %>
</p>
<p>
  <strong>Updated at:</strong>
  <%= @link.created_at_status_detailed %>
  <strong>Added by:</strong>
  <%= @link.show_link_owner %>
  <br />
  <strong>Number of like's <i class="fa fa-thumbs-o-up"></i></strong>
  <%= @link.get_upvotes.size %>
  <br />
<%= button_to('Vote for this link!', like_link_path(@link), method: :put) %>
<%= @link.user.decorate.subscribe_user %>
<%= button_to 'New Tag', new_link_tag_path(@link.id), method: :get %>

</p>
  <%= @link.video_play %>
  <%= @link.show_screenshot %>
  <%= @link.content %>
<div class="row">
  <div class="span10">
    <div ng-controller="CommentController">
      <div ng-if= "commentUpdated">
        <div class="alert alert-success" >
          <button type="button" class="close" data-dismiss="alert"> &times;</button>
          Comment was successfuly added!
        </div>
      </div>
      Comments({{comments.length}}):
      <ol class="comments">
        <div ng-repeat="comment in comments">
          <li>
            <span class="content">
              {{comment.content}}
            </span>
            <span class="timestamp">
            Posted {{comment.created}} ago
            by {{comment.owner_email}}
            </span>
          </li>
        </div>
      </ol>
      <% if signed_in? %>
      <section>
        <form ng-submit="createComment()">
          <fieldset>
            <div class="control-group" ng-class="{ 'error': errors }" >
              <textarea rows="3" ng-model='comment.content' placeholder="Enter Comment"></textarea>
              <button type="submit" class="btn btn-primary">Add</button>
              <div ng-if= "errors">
                <p class="help-block error" >
                  {{errors}}
                </p>
              </div>
            </div>
          </fieldset>
        </form>
      </section>
    </div>
    <% else %>
    <div class="sign_in">
      <%= link_to "Sign in", new_user_session_path%> to add comment.
    </div>
    <% end %>
    <br>
    <%= link_to 'Edit', edit_link_path(@link) %> |
    <%= link_to 'Home', root_path %> |
    <%= link_to 'Tag List', link_tags_path(@link) %>
  </div>
  <div>
</div>
