<br />
<div id="tags">
  <ol>
    <% @link.tag_list.each do |tag| %>
      <li>
        <%= tag %>
        <%= link_to 'Delete', link_tag_path(@link, name: tag), method: 'delete', data: { confirm: 'Are you sure?' } %> <br />
      </li>
    <% end %>
  </ol>
</div>
<br />
<%= link_to 'Back', link_path(@link) %>