<p>
  <h3>Add tag to <%= @link.title %></h3>
  <h5><%= @link.url %></h5>
</p>
<p>
  <%= @link.show_tags %>
</p>
<hr>
<p>
  <h2>New tag</h2>
  <%= simple_form_for @tag, url: link_tags_path do |f| %>
    <%= f.input :name, label: 'Tag name' %>
    <%= f.button :submit %>
  <% end %>
</p>

<%= link_to 'Back', link_path(@link) %>
