// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 1.8em;
  letter-spacing: -0.5px;
  text-align: left;
  padding-bottom: 15px;
  padding-top: 0px;
}

h2 {
  font-size: 1.4em;
  letter-spacing: 0.5px;
  text-align: left;
  font-weight: thick;
}

h3,h4{
  display: inline;
}

h4{
  font-size: 1em;
  font-weight: normal;
  vertical-align: super;
  margin-left: 10px;
}

h6,h5 {
  font-size: 0.8em;
    letter-spacing: 1px;
    margin: 4px;
    font-style: oblique;
    font-weight:normal
}

h5{
  width: 80%;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
}

body{
  width: 80%;
  height: 80%;
  margin: 0;
  background-color:#ccdbce;
  padding: 30px 60px 60px 60px;
  position:relative;
    h1{
      font-size: 2.6em;
      letter-spacing: -0.5px;
    }
}

.input-append{
  margin-bottom: 0;
  width: 80%;
  min-width: 300px;
   .btn:last-child{
      width: 60px;
      border-radius: 0 10px 10px 0;
    }
    span.btn.btn-primary{
      width: 40px;
    }
  }

.oneline{
  display: inline;
  background: red;
}

#link_link_data{
  color: bold;
  width: 85%;
}

.form-horizontal .control-label{
text-align: left;
font-size: 1.4em;
width: 50px;
}

.form-horizontal .input-append{
  width: 60%;
  margin: 0;
  min-width: 0;
}

.form-horizontal .controls{
  margin-left: 0;
  min-width: 400px;
}

.form-horizontal{
  width: 100%;
  margin-bottom: 0;
}

.description{
  font-size: 12px;
  line-height: 20px;
}

fieldset{
  width: 80%;
}

html body form.form-horizontal{
margin-bottom: 15px;
}

html body ol div.my_list{
  margin-bottom: 10px;
}

html body form.form-horizontal{
margin-bottom: 15px;
}

html body ol div.my_list{
  margin-bottom: 10px;
}

li{
  margin-bottom: 10px;
  font-size: 1.3em;
}

input#link_link_data.string.optional.span10{
  width: 80%;
}


.box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}

a{
 cursor: pointer;
}

html body a.screenshot{
  img {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 600px;
  margin-bottom: 20px;
  }
}

html.ng-scope body div.ng-scope ul{
  margin: 0px;
  li.ng-binding.ng-scope{
    list-style-type: none;
  }
}

div.ng-scope{
  display: inline;
}


input.ng-pristine.ng-valid{
  width: 100%;
}

input.ng-valid.ng-dirty{
  width: 100%;
}

div.alert.alert-success{
  width: 65%;
}

p.ng-binding{
  font-size: 11px;
}

.comments {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}

.timestamp {
  color: gray;
}

fieldset div textarea.ng-pristine.ng-valid{
  width: 100%;
}


fieldset div textarea.ng-valid.ng-dirty{
  width: 100%;
}

div.sign_in{
  font-weight: bold;
  a{
    color: green;
  }
}
div.ng-scope{
  word-wrap: break-word;
}

div.tagged_with{
  font-weight: bold;
  color: green;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  width: 65%;
  font-size: 16px;
}

.content_page_box {
    background-color: #F7F7F7;
    border: 1px solid #9EA8C6;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin-top: 0.3em;
}

.activity {
border-bottom: solid 1px #CCC;
padding: 5px 0;
em {
  color: #777;
  font-size: 12px;
  padding-left: 5px;
}
}

#right_content{
  float:right;
}

#left_content{
  float:left;

}