// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li span.timestamp{
  color:black;
}
div.link_list li {
    overflow: auto;
    padding-left: 10px;
    margin-bottom: 0px;
    border-top: 1px solid black ;
    width: 70%;
    background-color: #FFFFCC;
  }